body {
    background-color: black;
    color: white;
    text-transform: uppercase;
}

p {
    font-size: 20px;
}

nav {
    position: fixed !important;
    width: 100%;
    z-index: 1;
    background: #00000013;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.contact-banner {

    background-size: cover;
    background-repeat: no-repeat;
    -webkit-backdrop-filter: brightness(100%);
    backdrop-filter: brightness(100%);
}

.banner-1 {
    background-image: url(static-img/banner-1.jpeg);
    height: 50vh;
    background-position: 40% 60%;
    padding-top: 10px;
}

.banner-2 {
    background-image: url(static-img/banner-2.jpeg);
    height: 30vh;
    background-position: 62% 38%;
}

.hidden {
    display: none;
}

.top-banner {
    position: relative;
    z-index: -1;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-banner-1 {
    background-image: url(static-img/top-banner-1.jpeg);
    background-position: 10% 90%;
}
.top-banner-2 {
    background-image: url(static-img/top-banner-2.jpeg);
    background-position: 10% 90%;
}

.top-banner-3 {
    background-image: url(static-img/top-banner-3.jpeg);
    background-position: 10% 90%;
}

.header-text {
    border: 5px solid white;
    padding: 2% 7%;
}

.topnav a {
    text-decoration: none;
    color: #FFF;
}

.white-button {
    background: none;
    padding: 16px 40px;
    justify-content: center;
    align-items: center;
    border: 3px solid #FFF;
    color: #FFF;
}

.wrapper {
    display: none;
}

.mobile-reviews {
    display: none;
}

.mobile-video {
    display: none;
}


@media only screen and (max-width: 600px) {
    .top-banner {
        position: relative;
        z-index: -1;
        height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .header-text {
        width: 70%;
    }
    .laptop-video {
        display: none;
    }
    video {
        width: 100%;
    }
    .mobile-video {
        display: block;
    }

    .white-button {
        padding: 10px 40px;
    }

    .hidden {
        display: block;
    }

    .mobile-reviews {
        display: block;
    }

    .reviews {
        display: none;
    }

    .contact-banner {
        padding-top: 50px;
        height: 30vh;
        position: relative;
        z-index: -1;
        background-image: url(static-img/banner-1.jpeg);
        background-size: cover;
        background-position: 40% 60%;
        background-repeat: no-repeat;
        -webkit-backdrop-filter: brightness(90%);
        backdrop-filter: brightness(90%);
    }

    .topnav {
        display: none;
    }

    .wrapper {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(-135deg, #ffffff, #ffffff);
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        clip-path: circle(0px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
    }

    #active:checked~.wrapper {
        clip-path: circle(75%);
    }

    .menu-btn {
        position: fixed;
        z-index: 100;
        right: 20px;
        top: 10px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    #active:checked~.menu-btn {
        color: #000000;
    }

    #active:checked~.menu-btn i:before {
        content: "\f00d";
    }

    .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        padding: 0 !important;
    }

    .wrapper ul li {
        margin: 0;
        padding: 0 !important;
    }

    .wrapper ul li a {
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #000000;
        position: relative;
        line-height: 30px;
        transition: all 0.3s ease;
    }

    .wrapper ul li a:after {
        position: absolute;
        content: "";
        background: #fff;
        width: 100%;
        height: 50px;
        left: 0;
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        transition: transform 0.3s ease;
    }

    .wrapper ul li a:hover:after {
        transform: scaleY(1);
    }

    .wrapper ul li a:hover {
        color: #4158d0;
    }

    input[type="checkbox"] {
        display: none;
    }
}